@import url(general.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

body {
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h2 {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 2.75rem;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

h2:hover {
  transform: scale(1.2);
  transform-origin: left top;
  text-shadow: 1px 1px 1px var(--medium-blue);
}

i {
  color: var(--medium-blue);
  margin-right: 0.75rem;
  font-size: 2.5rem;
}

h3 {
  padding-bottom: 1rem;
  font-weight: 600;
}

.box_lista {
  width: 50%;
  margin: 5rem auto;
  box-shadow: 0 0 12px var(--light-blue);
  border-radius: 10px;
  padding: 2rem;
  letter-spacing: 1px;
}

.exibir_veiculo {
  margin: 2rem auto;
  padding: .75rem 4%;
  box-shadow: 0 0 2px var(--dark-blue);
  background-color: #d2e2f127;
  border-radius: 10px;
}

.titulo-lista {
  padding: 1rem;
}

button {
  font-size: 1rem;
  padding: 0 1rem;
  font-weight: 300;
  background-color: #50727b00;
  color: var(--medium-blue);
  border: none;
  font-weight: bolder;
  cursor: pointer;
  transition: .1s;
  outline: none;
}

button:hover {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--medium-blue);
  color: var(--bg-color);
  box-shadow: 3px 8px 8px var(--medium-blue);
  transition: 0.2s;
  outline: none;
  letter-spacing: 1px;
}